body {
    background-color: #222222;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0 25vw;
    padding: 0;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 4px;
}

.technologies-used-icons {
    /* border: 1px dashed red; */
    display: flex;
    margin: 0 0 16px;
    /* justify-content: flex-start; */
}

.technologies-used-icons img {
    width: 64px;
    /* border: 1px dashed blue; */
    margin: 0 16px 0;
    /* padding: 0; */
    /* display: block; */
}

nav a,
footer a {
    color: #CCCC00;
    width: 100%;
    text-decoration: none;
}

a {
    text-decoration: underline;
    color: #CCCC00;
}

main a:hover {
    color: #FFFF00;
}

label {
    min-width: 88px;
}

input {
    padding: 4px;
    margin: 0 8px;
}

form div {
    display: flex;
    align-items: center;
    margin: 0 0 16px;
}

textarea {
    display: block;
    min-width: 60%;
    max-width: 99%;
    min-height: 160px;
    padding: 4px;
    margin: 8px 0;
}

input[type="submit"] {
    margin: 8px 0 16px;
}

h1,
h2,
h3,
h4 {
    margin: 1rem 0;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 2rem;
}

button {
    padding: 5px 10px;
    font-size: 1rem;
}

section {
    margin-bottom: 64px;
}

.about-photo {
    float: right;
    margin: 0 0 8px 8px;
    max-width: 40%;
}

.preview-images-container {
    display: flex;
    gap: 8px;
}

.desktop-preview {
    min-width: 78.55%;
    height: auto;
}

.mobile-preview {
    height: auto;
}

.nav-link {
    background-color: #222222;
    text-align: center;
    padding: 20px;
}

.nav-link:hover {
    background-color: #333333;
    color: #FFFF00;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
}

@media (orientation: portrait) and (max-width: 1100px) {
    body {
        font-size: 1rem;
        margin: 0;
    }

    header {
        position: fixed;
        top: 0;
        right: 0;
        bottom: auto;
        left: 0;
    }

    footer {
        position: fixed;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
    }

    main {
        margin: 80px 8px;
    }

    img {
        margin-bottom: 8px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    textarea {
        width: 80%;
    }

    label {
        min-width: 60px;
    }

    .desktop-only {
        display: none;
    }

    .desktop-preview {
        min-width: 77.75%;
    }

    .buttons-container button {
        font-size: 0.75rem;
    }

    .technologies-used-icons img {
        width: 40px;
        /* margin: 0 16px 0; */
    }
}