body {
    margin: 0 10vw;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.projects img {
    width: 33%;
    height: auto;
}

@media (orientation: portrait) {
    body {
        margin: 0 2vw;
    }
    .projects img {
        width: 100%;
    }
}